<?xml version="1.0"?>
<configuration>
<connectionStrings>
  <add name="constr"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NumberGame;Integrated Security=true"/>
</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>   

    <services>
      <service behaviorConfiguration="serviceMetadataBehavior" name="Vektorel.NumberGameService.GameService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="basicHttpEndPoint" contract="Vektorel.NumberGameService.IGameService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>


</configuration>
