<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpEndPoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60433/GameService.svc" binding="basicHttpBinding"
                bindingConfiguration="basicHttpEndPoint1" contract="NumberGameService.IGameService"
                name="basicHttpEndPoint1" />
        </client>
    </system.serviceModel>
</configuration>